appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
boto3==1.9.205
botocore==1.17.37
configparser==5.0.0
decorator==4.4.2
docutils==0.16
enum34==1.1.10
futures==3.3.0
ipython==7.17.0
ipython-genutils==0.2.0
jmespath==0.10.0
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
psycopg2==2.8.5
ptyprocess==0.6.0
Pygments==2.6.1
python-dateutil==2.8.1
s3transfer==0.3.3
scandir==1.10.0
simplegeneric==0.8.1
six==1.15.0
traitlets==4.3.3
urllib3==1.25.10
wcwidth==0.2.5
